<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
  </head>

 <body style="text-align: center;">
    <h1 style="font-size:50px">URL Shortener</h1>

    <form action="/CreateShortUrl" method="post">
      <input type="text" id="enteredURL" name="enteredURL" style="font-size: 25px;" placeholder="Enter your URL..."> 

      <input type="submit" value="submit" style="font-size: 25px;">
    </form>
  </body>
</html>
